/* section content box */
.content-box{
    display:grid;
    grid-template-columns:repeat(auto-fill,160px);
    justify-content:center;
    gap:15px;
    width:100%;
    margin:30px 0 20px 0;
    padding:0 10px;
    transition: filter 0.25s ease;
}

.movie-template{
    overflow:hidden;
    cursor:pointer;
    transition: transform 0.25s ease;
}
.movie-template:hover{
    transform:scale(1.08);
    filter:drop-shadow(0 0 8px)
}
.movie-template h4::before{
    display:grid;
    place-items:center;
    content:attr(data-rating);
    position:absolute;
    float:right;
    width:27px; height:27px;
    top:-27px; right:-5px;
    color: white;
    background-color:var(--color-primary1);
    padding:3px;
    border-radius:20px;
    font-family: var(--font-list);
    font-weight: 100;
}

.movie-name{
    position:relative;
    margin:5px 10px 0px 5px;
    color: var(--color-matteBlack);
    font-family: var(--font-heading3);
}
.movie-template img{
    width:100%;
    border-radius:15px 15px 10px 10px;
}
.movie-template .release-date{
    text-indent: 5px;
    font: 0.8rem var(--font-para3);
}

@media (max-width:500px){
    .content-box{
        grid-template-columns:repeat(2,1fr);
    } 
}