:root{
    --page-background-color:grey;
}
*,::after,::before{
    box-sizing:border-box;
}
body{
    margin:0px;
}
/* header */
header{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin: 10px 5px 5px 5px;
}


.heading{
    text-align:center;
    font-size:3rem;
    order: 1;
    margin:0px;
    justify-self: center;
}
.category-bar{
    display:flex;
    flex-direction:row;
    justify-content:center;
    list-style-type:none;
    padding:0;
    border-radius:20px;
    border:2px solid black ;
    
}
.category-bar li{
    padding:3px 8px;
    margin: 0px 5px;
    cursor:pointer;
}
/* current category highlighter */
.current-category{
    transform: scale(1.2);
    background-color:greenyellow;
    border-radius:20px;
}
.search-bar{
    min-width: 200px;
    width:30%;
    height:35px;
    border:2px solid #000;
    border-radius:20px;
    overflow:hidden;
    order: 2;
}
.search-button{
    display:grid;
    place-items:center;
    float:right;
    height:100%;
    width:max(45px,10%);
    border:none;
    border-left:2px solid #868181;
    background:0 0;
    font-size:1.5rem
}
/* section content box */
.content-box{
    width:100%;
    margin:30px 0 20px 0;
    padding:0 10px;
    display:grid;
    grid-template-columns:repeat(auto-fill,200px);
    gap:15px;
    justify-content:center
}
.movie-template{
    overflow:hidden;
    cursor:pointer
}
.movie-template:hover{
    transform:scale(1.05);
    filter:drop-shadow(0 0 8px)
}
.movie-template h4::before{
    display:grid;
    place-items:center;
    content:attr(data-rating);
    position:absolute;
    float:right;
    width:27px;
    height:27px;
    top:-27px;
    right:-5px;
    background-color:var(--page-background-color);
    padding:3px;
    border-radius:20px
}
.movie-template img{
    width:100%;
    border-radius:15px 15px 10px 10px
}
.movie-template .release-date{
    text-align:center
}
.movie-template h4{
    position:relative;
    margin:5px 10px
}

