/* imports */
/* @import "./movieDetail.css"; */
@import url('https://fonts.googleapis.com/css2?family=Original+Surfer&family=Righteous&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&family=Itim&family=Montserrat&family=PT+Sans&family=Ubuntu:ital@1&display=swap');

:root{
    --page-background-color:grey;
    --font-heading2:  'Righteous', cursive;
    --font-heading3: "proxima-nova","Gotham","Helvetica Neue",Helvetica,Arial,sans-serif;
    --font-list: 'Itim', cursive;
    --font-para2: 'PT Sans', sans-serif;
    --font-para3: 'Montserrat', sans-serif;
    --font-para4:  'Ubuntu', sans-serif;
}
*,::after,::before{
    box-sizing:border-box;
}
body{
    margin:0px;
}

.blur{
    filter:blur(2px);
}
/* header */
header{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin: 10px 5px 50px 5px;
    gap: 10px;
}


.heading{
    text-align:center;
    font-size:3rem;
    order: 1;
    margin:0px;
    justify-self: center;
    font-family: var(--font-heading2);
    letter-spacing: 0.1rem;
}
.category-bar{
    display:flex;
    flex-direction:row;
    justify-content:center;
    list-style-type:none;
    padding:0;
    border-radius:20px;
    border:2px solid black ;
    margin: 0px;
    
}
.category-bar li{
    padding:3px 8px;
    margin: 0px 5px;
    cursor:pointer;
}
/* current category highlighter */
.current-category{
    transform: scale(1.2);
    background-color:greenyellow;
    border-radius:20px;
}
.search-bar{
    min-width: 200px;
    width:30%;
    height:35px;
    border:2px solid #000;
    border-radius:20px;
    overflow:hidden;
    order: 2;
}
.danger{
    border-color: red;
}
.search-box{
    height: 100%;
    width: 85%;
    resize: none;
    font-size: 1.2rem;
    text-align: center;
    cursor: text;
    outline: none;
    border: none;
}


.search-button{
    display:grid;
    place-items:center;
    float:right;
    height:100%;
    width: 15%;
    border:none;
    border-left:2px solid #868181;
    background:0 0;
    font-size:1.5rem;
    cursor : pointer;
}

/*-----media queries----------*/
@media (max-width:830px){
    
    .heading{
        order: -2; 
        margin-bottom: 0px;
    }/*
    .category-bar li{
        float: left;
    }*/
    .search-bar{
        width: 90%;
    }
    header{
        flex-wrap: wrap;
    }
    .featured{
        margin-top: 10px;
    }

}

@media (min-width:500px){
    /* .heading{
        position: absolute;
        transform:translateX(-50%) ;
        left: 50%;
        margin:0px;
    } */
}