/* using mobile first approach */

/* container css */
.movie-detail-container *{
    margin-bottom:0px ;
    color: white;
}
.movie-detail-container h4{
    font-family: var(--font-heading3);
    text-transform: capitalize;
}
.movie-detail-container{
    position: fixed;
    width: 90vw;
    height: auto;
    max-height: 80vh;
    background-image: url("https://image.tmdb.org/t/p/w1280/inJjDhCjfhh3RtrJWBmmDqeuSYC.jpg");
    left: 5vw; top: 13.5vh;
    overflow-x: hidden ;
    overflow-y: auto;
    padding: 10px;
    transform: scale(0);
    transition: transform 0.25s ease-out;
}
.show-container{    /* toggles move-detail-visibility*/
    transform: scale(1);
}
.movie-detail-container::after{
    position: absolute;
    content: "";
    background-color: rgba(0, 0, 0, 0.8);
    left: 0; top: 0; right: 0; bottom: -70%;
    z-index: -1;
}
.movie-detail-header{
    margin-bottom: 7px;
}

.close-btn{
    position: fixed;
    background-color: transparent;
    right: 5px;
    top: 5px;
    margin: 5px 10px;
    font-size: 100%;
    cursor: pointer;
    z-index: 2;
}
.close-btn i:hover{
    color: rgb(230, 6, 6);
    animation: closeBtnRotate 1s 1 forwards;
}
@keyframes closeBtnRotate{
    100%{
        transform: rotate(360deg);
    }
}


/*details css*/
.movie-detail-container .movie-name{
    display: inline;
    font: 1.1rem var(--font-heading2);
    margin:0px;
    letter-spacing: 0.1rem;
    margin-right: 10px;
}
.genre{
    display: inline-block;
    background-color: rgb(13, 156, 61);
    padding: 2px 8px;
    margin-right: 16px;
    border-radius: 5px;
    color: white;
    font: .9rem var(--font-para3);
}
.movie-image{
    width: 100%;
}
.overview p{
    font: 0.9rem var(--font-para3);
    
}
.watch-trailer{
    display: inline-block;
    background-color: var(--color-greyBlack);
    border-radius: 5px;
    color: white;
    font-family: var(--font-para3);
    margin-top:10px;
    padding: 5px 10px;
    text-decoration: none;
}
.watch-trailer:hover{
    background-color:rgb(170, 167, 167);
}
.release-date{
    margin-top: 0px;
    font-family: var(--font-para2);
}

.stats p{
    margin-bottom: 0px;
}
.stats ul{ 
    margin: 0px;
    padding: 0px;
    list-style-type: none;
    overflow: auto;
}
.stats li{
    float: left;
    background-color: bisque;
    color: black;
    margin: 3px;
    padding: 5px 10px;
    border-radius: 10px;
    font-family: var(--font-list) ;
}
.fa-star{
    color: var(--color-matteBlack);
}

.production-companies div,   
.providers a{
    position: relative;
}
.production-companies div{
    display: inline-block;
    cursor: pointer;
}
.providers a{
    text-decoration: none;
    color: black;
}
:is(.providers,.production-companies) img{
    max-height: 45px;
    width: 45px;
    background-color: white;
    margin: 5px 5px 0px 5px;
    border-radius: 6px;
    
}
/* shows company name on hovering on logo */
:is(.providers a,.companies-detail div)::after{
    position: absolute;
    content: attr(data-name);
    background-color: white;
    color: black;
    font-weight: 600;
    padding: 5px;
    font-family: var(--font-para3);
    border-radius: 5px;
    bottom: -30px; left: 0px;
    z-index: 2;
    white-space: nowrap;
    transform: scale(0);
    transition: transform 0.5s ease;
}
.companies-detail div::after{
    bottom: 52px;
}

:is(.providers a,.companies-detail div):hover::after{
    transform: scale(1);    
}

/* media queries */
@media (min-width:580px) {
    .movie-detail-container{
        top: 16vh;
        overflow-y: hidden;
    }
    .movie-detail-container article{
        columns:2;
        top: 18vh;
    }
    .close-btn{
        transform: scale(1.2);
    }
}
@media (min-width:830px){
    .movie-detail-container{ 
        width: 70vw;
        top:14vh; left: 15vw;
    }   
}